/* chatbot styles */

.hooshyar-chatbot-trigger {
    position: fixed;
    bottom: 25px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.5s ease;
}

.hooshyar-chatbot-trigger:hover {
    transform: scale(1.1);
}

.hooshyar-chatbot-window {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 350px;
    max-width: 90%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 9998;
}


.chatbot-header {
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-header p{
    font-size: 12px;
    opacity: .8;

}
.chatbot-header h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;

}
.chatbot-header .content-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.close-chatbot {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.chatbot-messages {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
    direction: rtl;
}

.chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}

.chatbot-input input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    direction: rtl;
}

.chatbot-input button {
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

/* پیام‌های چت */
.message {
    margin-bottom: 15px;
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 1.5;
}

.user-message {
    background: #f0f0f0;
    margin-left: auto;
    border-bottom-right-radius: 5px;
    width: max-content;
}

.bot-message {
    margin-right: auto;
    border-bottom-left-radius: 5px;
}
.send-message{
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-message img{
    margin-left: 2px;
}
.chatbot-icon{
    width: 38px ;
    height: 38px;
}
.chatbot-logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .hooshyar-chatbot-window{
        bottom: 50px;
        right: 15px;
    }
 
    .hooshyar-chatbot-trigger{
        bottom: 30px;
        right: 25px;
    }
   
}